{# templates/admin/book.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

    <p>Bienvenue sur la page d'administration !</p>

        <a class="btn btn-primary" href="http://localhost:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CBookCrudController">
        Accéder au Dashboard des Livres <br><br>

        <a href="{{ path('book_list') }}" class="btn btn-primary">Retour à l'accueil</a>
        
</body>
</html>