<!DOCTYPE html>
<html>
<head>
    <title>Page de Bienvenue</title>
</head>
<body>
    <h1>Bienvenue!</h1>
    <p>Vous êtes connecté en tant qu'utilisateur. Profitez de votre visite !</p>
    <a href="{{ path('book_list') }}" class="btn btn-primary">Retour à l'accueil</a>
</body>
</html>